* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", regular;
    background-color: #2F343A;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: #FFF;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

p > h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

/* Top contact info */
.info_panel {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 45px;
    background: #C8A35F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0px;
    top: 0px;
}

.info_panel__text {
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
}

/* Footer */

header {
    padding-top: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo_company {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.logo {
    width: 200px;
    height: 50px;
    padding-right: 50px;
    border-right: solid 1px #FFFFFF;
}

.our_office {
    margin-left: 50px;
    display: flex;
    align-items: center;
    height: 25px;
    color: #FFF;
}

.top_navigation {
    font-style: normal;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.top_navigation__menu {
    display: flex;
    list-style-type: none;
}

.top_navigation__menu li {
    padding-right: 20px;
}

/* Slider*/

.slider {
    position: relative;
}

.slider_img {
    width: 100%;
}

.slider_title {
    position: absolute;
    border: 1px solid #C8A35F;
    padding: 3rem 5rem;
    left: 20%;
    right: 20%;
    top: 150px;
}

.slider_title__header {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slider_title__description {
    padding-top: 2rem;
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
}

/*Service*/

.service {
    height: 561px;
    width: 100%;
    position: relative;
}

.rectangle_left {
    position: absolute;
    width: 755px;
    height: 561px;
    left: 0px;
    background: #393F47;
}

.rectangle_right {
    position: absolute;
    width: 755px;
    height: 561px;
    right: 0;
    background: #393F47;
}

.service_content {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 14%;
    right: 14%;
    display: flex;
    justify-content: space-around;
    transition: right 300ms, left 300ms;
}

.service_content:hover {
    left: 18%;
    right: 18%;
}

.service_content__text {
    width: 300px;
}

.service_content__title {
    color: #FFFFFF;
    padding-bottom: 30px;
}

.service_content__description {
    color: #FFFFFF;
    padding-bottom: 50px;
}

.service_content__button {
    width: 220px;
    height: 55px;
    left: 405px;
    top: 1142px;
    background: #C8A35F;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*all_services*/

.all_service {
    height: 561px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.all_service_content {
    max-width: 56%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.all_service_content__title {
    color: #FFFFFF;
    margin-bottom: 75px;
}

.all_service_content__task {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.desk_item {
    width: 260px;
    height: 150px;
    background: #393F47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desk_item:hover {
    background: #C8A35F;
}

.desk_item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 50px;
    height: 50px;
    background: #393F47;
    border-radius: 50%;
    stroke: red;
    fill: red;
}

.desk_item:hover > .desk_item__icon {
    background-color: #FFF;
}

.desk_item:hover > .desk_item__icon > .avia_icon {
    background: no-repeat  center url("img/vector.svg");
}

.avia_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 1rem;
    background: no-repeat  center url("img/vector_white.svg");
}

/*about company*/

.about_company {
    height: 561px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 600px) {
    .about_company {
        margin-top: 4rem;
    }
}

.company_content {
    position: relative;
    display: flex;
    height: 400px;
    width: 56%;
    justify-content: space-between;
    align-items: center;
}

.rectangle_center{
    z-index: -1;
    position: absolute;
    width: 35%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background: #393F47;
}

.company_content__text {
    width: 450px;
}

.company__title {
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.company__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.company_content_table {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    max-width: 520px;
    height: 300px;
}

.card_item {
    width: 150px;
    height: 150px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_item_number {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.card_item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
}

.card_item__label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.volvo {
    background: no-repeat url("img/volvo.png");
}

/*map*/
@media (min-width: 600px) {
    .map {
        margin-top: 4rem;
    }
}

.map {
    width: 100%;
    height: 561px;
}

footer {
    width: 100%;
    background: #C8A35F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 161px;
}

.phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;

    opacity: 0.8;
}

.address {
    margin-left: 3rem;
    margin-right: 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}